@mixin img($color: #85D4FF)
    width: 100%
    display: block
    padding: 2rem
    border: 0.4rem solid $color
    border-radius: 0.5rem

.card
    position: relative
    width: 75%
    .image-sports
        @include img
    .image-earth
        @include img($color: #77ff7777)
        padding: 1.2rem
        width: 90%
    .image-music
        @include img($color: #D1362B)
        padding: 1.2rem
        width: 90%
    .image-animals
        @include img($color: #913B7E)
        padding: 1rem
    
    .front
        transform: rotateY(90deg)
        transition: all ease-in .2s
        position: absolute
    .back
        transition: all ease-in .2s
        transition-delay: .2s
        &:hover
            background: #322c49
            cursor: pointer

.flipped
    .front
        transform: rotateY(0deg)
        transition-delay: .2s
    .back
        transform: rotateY(90deg)
        transition-delay: 0s