.card
    position: relative
    img
        width: 90%
        display: block
        padding: 1.5rem
        border: 5px solid #85D4FF
        border-radius: 6px
    
    .front
        transform: rotateY(90deg)
        transition: all ease-in .2s
        position: absolute
    .back
        transition: all ease-in .2s
        transition-delay: .2s

.flipped
    .front
        transform: rotateY(0deg)
        transition-delay: .2s
    .back
        transform: rotateY(90deg)
        transition-delay: 0s