.card
    position: relative
    width: 75%
    img
        width: 100%
        display: block
        padding: 2.5rem
        border: 0.4rem solid #85D4FF
        border-radius: 0.5rem
    
    .front
        transform: rotateY(90deg)
        transition: all ease-in .2s
        position: absolute
    .back
        transition: all ease-in .2s
        transition-delay: .2s
        &:hover
            background: #322c49
            cursor: pointer

.flipped
    .front
        transform: rotateY(0deg)
        transition-delay: .2s
    .back
        transform: rotateY(90deg)
        transition-delay: 0s